.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: rgba(255, 255, 255, 0.25); /* translucent block */
  backdrop-filter: blur(6px); /* nice glass effect */
  padding: 30px 40px;
  border-radius: 17px;
  color: #f0e5c9;
}

.hero-text h1 {
  margin: 0 0 10px 0;
  font-size: 2.8rem;
  font-family: "Playfair Display", serif;
}

.hero {
    position: relative;
    height: 70vh; 
    width: 100%;
    overflow: hidden;
    border-radius: 20px;
}

.hero img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    filter: brightness(0.6); /* slightly darken so text pops */
}

body {
    background-color: #f8efdb;
    color: #2c1f18;
    font-family: "Inter", sans-serif;
}

.top-nav {
    background-color: #6e4f3a;
}

.top-nav img {
    width: 40px;
    margin-top: 8px;
    margin-left: 0px;
    margin-bottom: 7px;
}